*.csv
*.png
/ComputerVision/road-images2016-DURHAM
/ComputerVision/images
/ComputerVision/figuresForReport
/NumericalAlgorithms/results
/NumericalAlgorithms/argon
/Assignments
/DistributedComputing/Research
/MachineLearning/HAPT-data-set-DU
/MachineLearning/__pycache__
/MachineLearning/python-examples-ml
/WebTechnology/__pycache__
/GPU/GPU
/GPU/karman
/GPU/karman2
/GPU/karman3
/GPU/karman3S
/GPU/GPUAnalysis

GPU/hzwr87\.zip

GPU/hzwr87/

*.lyx~
*.lyx#

NetworkAnalysis/CCS/

NetworkAnalysis/__pycache__/

Optimisation/hzwr87\.zip

Optimisation/hzwr87/

ParallelProgramming/OMP_exercises/

NetworkAnalysis/hzwr87\.zip

NetworkAnalysis/hzwr87/

ParallelProgramming/parallel/test

GPU/GPU18/

ParallelProgramming/parallel/vecAddition

ParallelProgramming/parallel/vecDot

ParallelProgramming/serial/gold4\.txt

ParallelProgramming/serial/gold5\.txt

ParallelProgramming/parallel/matMat

ParallelProgramming/parallel/matVec

ParallelProgramming/parallel/vecAdd

ParallelProgramming/parallel/matVecOld
