*.csv
*.png
/ComputerVision/road-images2016-DURHAM
/ComputerVision/images
/ComputerVision/figuresForReport
/NumericalAlgorithms/results
/NumericalAlgorithms/argon
/Assignments
/DistributedComputing/Research
/MachineLearning/HAPT-data-set-DU
/MachineLearning/__pycache__
/MachineLearning/python-examples-ml
/WebTechnology/__pycache__
/GPU/GPU
